@{
    ViewBag.Title = "About";
    ViewBag.Message = "Task from Present Connection, executed by Naglis Kneižys";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message.</h3>

<p>This web application includes:</p>
