@{
    ViewBag.Title = "About";
    ViewBag.Message = "Task from Present Connection, executed by Naglis Kneižys";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message.</h3>

<p>
    This web application includes:<br>
    Filtering based on first and last name <br>
    Sorting <br>
    Paging <br>
    Gross salary calculation from Net salary <br>
    Picture attachment <br>
    Facebook login, Twitter login doesn't work on localhost <br>
</p>
