@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "My contact page";

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Phone:</strong>   <a href="tel:37063639027">+37063639027</a> <br>
    <strong>Email:</strong>   <a href="mailto:naglis.kneizys@gmail.com">Naglis.Kneizys@gmail.com</a>
</address>