@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Management</h1>
</div>
<div class="row">
    <div class="col-md-10">
        <h2>Welcome to Employee Management</h2>
        <p>
            This web application is a simple tool to organize employees and their salaries.
        </p>
    </div>
</div>